# Python Data Structures

# 1. What are data structures, and why are they important?  
- Data structures are ways of organizing and storing data in a computer to perform operations efficiently. They are important because they help manage large amounts of data, improve code efficiency, and determine how data is processed and accessed in programs.

# 2. Explain the difference between mutable and immutable data types with examples.  
- Mutable data types (like lists and dictionaries) can be changed after creation, while immutable types (like tuples and strings) cannot. For example, you can add elements to a list, but you cannot change a string once it's created.

# 3. What are the main differences between lists and tuples in Python?  
- Lists are mutable and allow modification after creation, while tuples are immutable and cannot be changed. Lists use square brackets ([]) and are typically used for collections needing modification; tuples use parentheses (()) and are used for fixed collections.

# 4. Describe how dictionaries store data.  
- Dictionaries store data as key-value pairs, where each unique key maps to a value. Internally, Python uses hash tables to provide fast access to values based on their keys.

# 5. Why might you use a set instead of a list in Python?  
- Sets are used when you need to store unique elements and do not need ordering. They automatically remove duplicates and provide efficient membership checks compared to lists.

# 6. What is a string in Python, and how is it different from a list?  
- A string is an immutable sequence of characters, while a list is a mutable sequence of elements (which can be any type). Unlike lists, strings cannot be modified after creation.

# 7. How do tuples ensure data integrity in Python?  
- Tuples are immutable, so their elements cannot be changed, deleted, or reordered after creation. This helps ensure that the data remains constant throughout the program.

# 8. What is a hash table, and how does it relate to dictionaries in Python?  
- A hash table is a data structure that maps keys to values using a hash function for fast lookup. Python dictionaries use hash tables under the hood to enable quick access to their items.

# 9. Can lists contain different data types in Python?  
- Yes, Python lists can hold elements of any type, including integers, strings, other lists, or even objects, allowing for heterogeneous collections of data.

# 10. Explain why strings are immutable in Python.  
- Strings are immutable to improve performance and safety, especially when used as keys in dictionaries or elements in sets. This property ensures consistency and prevents accidental changes.

# 11. What advantages do dictionaries offer over lists for certain tasks?  
- Dictionaries provide much faster lookups for associated data using keys rather than searching by position or value in a list. They are ideal for associative arrays or mappings.

# 12. Describe a scenario where using a tuple would be preferable over a list.  
- Tuples are preferable when you want to make sure the data cannot change, such as representing the fixed coordinates of a point (x, y) or keys in a dictionary.

# 13. How do sets handle duplicate values in Python?  
- When you add duplicate values to a set, only one instance is kept. Sets automatically ensure that every element is unique.

# 14. How does the “in” keyword work differently for lists and dictionaries?  
- For lists, "in" checks if a value is present among the elements; for dictionaries, it checks if a key exists, not a value.

# 15. Can you modify the elements of a tuple? Explain why or why not.  
- No, elements of a tuple cannot be modified because tuples are immutable. Any attempt to change, add, or remove elements results in an error.

# 16. What is a nested dictionary, and give an example of its use case.  
- A nested dictionary is a dictionary whose values are also dictionaries. They are used for representing complex data like hierarchical structures, for example, storing employee data with personal and job info.

# 17. Describe the time complexity of accessing elements in a dictionary.  
- Accessing elements by key in a Python dictionary typically has average-case O(1) time complexity due to the underlying hash table.

# 18. In what situations are lists preferred over dictionaries?  
- Lists are preferred when you need ordered collections, sequential access, or work with sets of items that do not have unique identifiers.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?  
- Historically, dictionaries did not guarantee any specific order for their elements. This means you cannot rely on the order of items; retrieval is always via keys, not position.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.  
- Lists retrieve items by integer index (position), while dictionaries retrieve values by unique keys, allowing for fast, direct access to related data.

In [2]:
#1. Write a code to create a string with your name and print it.
name="Ayush Khande"
print(name)

Ayush Khande

In [4]:
#2. Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [9]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[0:3])

Pyt

In [11]:
#4. Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [12]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple","orange"))

I like orange

In [15]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [16]:
# 7. Write a code to append the number 10 to the list [1,2,3,4].
print([1,2,3,4]+[10])

[1, 2, 3, 4, 10]

In [34]:
# 8. Write a code to remove the number 3 from the list [1,2,3,4,5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [35]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b', 'c', 'd']
print(list[1])

b

In [36]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [37]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100, 200, 300)
print(tuple)

(100, 200, 300)

In [39]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [41]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10, 20, 5, 15)
print(min(tuple))

5

In [43]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [44]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [45]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'a', 'c', 'b'}

In [46]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [47]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [48]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1, 2, 3}
set2={3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [60]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1, 2, 3}
set2={2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [61]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"Ayush","age":20,"city":"Mumbai"}
print(dict)

{'name': 'Ayush', 'age': 20, 'city': 'Mumbai'}

In [62]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [63]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [64]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [65]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [66]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3,4]
tuple=(1,2,3,4)
dict={"name":"Ayush","age":20,"city":"Mumbai"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Ayush', 'age': 20, 'city': 'Mumbai'}

In [67]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
list=[1,2,3,4,5]
list.sort()
print(list)

[1, 2, 3, 4, 5]

In [68]:
# 28. Write a code to create a list with strings and print the element at the third index.
list=["apple","banana","kiwi"]
print(list[2])

kiwi

In [71]:
# 29. Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d_combined = {**d1, **d2}
print(d_combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
# 30. Write a code to convert a list of strings into a set.
list=["apple","banana","kiwi"]
print(set(list))

{'kiwi', 'banana', 'apple'}